/* Your CSS styles go here */
body{
    background-image:url(https://www.highmowingseeds.com/pub/media/catalog/product/cache/image/675x675/e9c3970ab036de70892d86c6d221abfe/2/8/2862.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width:80%;
    margin: auto;
}

.parent {
    /* The image used */
    background-image: url(http://www.artwall.ru/files/products/poster_p-50780.jpg);
    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parent>img{
    filter: blur(1px)
}

.parent > div {
    padding: 1em;
    padding-bottom: 50px;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd){background-color: #898779}

th {
    background-color: rgba(255,100,10,0.95);
    color: white;
}

.tit{
  background-color:  rgba(255,100,10,0.5);
}
.cont{
   background-color: rgba(255, 200, 0, 0.95);
   border-left: 50px solid black;
   border-right: 10px solid black;
}
.sum{
    background-color: rgba(255, 200, 0, 0.95);
    text-align-last: right;
    border-left: 10px solid black;
    border-right: 50px solid black;
}
.edu{
    background-color: rgba(255, 200, 0, 0.95);

}
.expr{
    background-color: rgba(255, 200, 0, 0.95);
}
.skls{
   background-color: rgba(255, 200, 0, 0.95);
}

.refs{
   background-color: rgba(255, 200, 0, 0.95);
}